// COLORS
:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-bg: #f2eae2;

    --clr-primary: hsl(228, 12%, 48%);
    --clr-secondary: hsl(212, 21%, 14%);

    --clr-accent-1: hsl(158, 36%, 37%);
    --clr-accent-2: hsl(158, 42%, 18%);
}

// FONTS
:root {
    //Families
    --ff-primary: "Montserrat", sans-serif;
    --ff-secondary: "Fraunces", serif;

    --ff-body: var(--ff-primary);
    --ff-headings: var(--ff-secondary);

    //Weights

    --fw-medium: 500;
    --fw-bold: 700;

    //Sizes (Augmented 4th)
    --fs-300: 0.75rem;
    --fs-400: 0.8125rem;
    --fs-500: 0.875rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3.998rem;
    --fs-900: 5.653rem;

    --fs-prod-cat: var(--fs-300);
    --fs-prod-price-old: var(--fs-400);
    --fs-primary: var(--fs-500);
    --fs-large: var(--fs-700);
}
