// COLORS
:root {
    --clr-primary: hsl(0, 0%, 100%);

    --clr-accent-1: hsl(257, 40%, 49%);
    --clr-accent-2: hsl(300, 69%, 71%);
}

// FONTS
:root {
    //Families
    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Poppins", sans-serif;

    --ff-body: var(--ff-primary);
    --ff-headings: var(--ff-secondary);

    //Weights

    --fw-regular: 400;
    --fw-semi-bold: 600;

    //Sizes
    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-500: 1.5rem;

    @media (min-width: 90em) {
        --fs-300: 1rem;
        --fs-400: 1.125rem;
        --fs-500: 2.5rem;
    }

    --fs-button: var(--fs-300);
    --fs-body: var(--fs-400);
    --fs-heading: var(--fs-500);
}
